---
layout: default
---
<h1>My projects</h1>


<div id="main" role="main" class="container">
    <div class="posts" style="user-select: auto;">
        {% for post in site.categories.project %} 

        <article class="post" style="user-select: auto;">
            <div class="entry" style="user-select: auto;">
                <h3>{{ post.project }}</h3>
                <p> {{ post.projectdescription }}</p>
                <br/>
                <a href="{{ post.github }}">Github URL</a><br/>
                <a href="{{ post.url }}">Blog post link</a>
                <h4>Tags</h4>
                <ul>
                    {% for tag in post.tags %}
                        <li>
                            <a href="{{ site.baseurl }}/tags#{{ tag }}" >{{ tag }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </article>
        {% endfor %}



    </div>
</div>

    




     